{%load static%}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Image Similarity App</title>
  <meta name="description" content="Image Similarity">

 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <link rel="stylesheet" href="{%static 'app/main.css' %}"
 <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
   <!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="{% static 'app/img/logo2.png'%}" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
                  <span class="sr-only">(current)</span>
                </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <!-- Page Content -->
  <div class="container">
    <div class="card border-0 shadow my-5">
      <div class="card-body p-5">
        <h1 class="font-weight-light text-center">Image Similarity Application</h1>
        <br>
        <p class="lead">Dans cette page vous pouvez trouvez les images dans la base de données similaires à une image d'entrée </p>
        <p class="lead">Veuillez charger une image</p>
        <form method='post' enctype='multipart/form-data'>
            {%csrf_token%}
            <input type="file" name="document">
            Nombre d'image similaire:    <input type="number" name="number">
            <button type="submit">Similarité</button>
        </form>
        <div style="height: 700px"></div>
      </div>
    </div>
  </div>
  </body>
</html>